fastapi
requests
python-dotenv
pydantic
ollama
uvicorn
langchain
langchain_core
langchain_community
langchain-ollama
langfuse
opentelemetry-api 
opentelemetry-sdk 
opentelemetry-instrumentation-fastapi
opentelemetry-exporter-otlp 
opentelemetry-instrumentation-requests
opentelemetry-exporter-prometheus